<!--== Start Page Breadcrumb ==-->
<div class="page-breadcrumb-wrap" style="margin-top: -25px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <ul class="nav">
                        <li><a href="index.php">首页</a></li>
                        <li><a href="shop.php" class="active">商品</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Breadcrumb ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            <div class="col-lg-3">
                <div id="sidebar-area-wrap">
                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">商品专区</h2>
                        <div class="sidebar-body">
                            <div class="shopping-option d-block d-sm-flex d-lg-block">
                                <div class="shopping-option-item">
                                    <h4>手机专区 <a href="#"><span style="float: right;">更多</span></a></h4>
                                    <ul class="sidebar-list">
                                        <li><a href="#">小米系列<span>(19)</span></a></li>
                                        <li><a href="#">苹果系列<span>(3)</span></a></li>
                                        <li><a href="#">华为系列<span>(33)</span></a></li>
                                    </ul>
                                </div>
                                <div class="shopping-option-item">
                                    <h4>电脑专区 <a href="#"><span style="float: right;">更多</span></a></h4>
                                    <ul class="sidebar-list">
                                        <li><a href="#">华硕系列<span>(19)</span></a></li>
                                        <li><a href="#">戴尔系列<span>(4)</span></a></li>
                                        <li><a href="#">联想系列<span>(3)</span></a></li>
                                    </ul>
                                </div>
                                <div class="shopping-option-item">
                                    <h4>配件专区 <a href="#"><span style="float: right;">更多</span></a></h4>
                                    <ul class="sidebar-list">
                                        <li><a href="#">CPU<span>(19)</span></a></li>
                                        <li><a href="#">显卡<span>(4)</span></a></li>
                                        <li><a href="#">内存<span>(3)</span></a></li>
                                    </ul>
                                </div>

                                <div class="shopping-option-item">
                                    <h4>价位 <a href="#"><span style="float: right;">更多</span></a></h4>
                                    <ul class="sidebar-list">
                                        <li><a href="#">99-599<span>(2)</span></a></li>
                                        <li><a href="#">600-4999<span>(3)</span></a></li>
                                        <li><a href="#">5000-9999<span>(5)</span></a></li>
                                        <li><a href="#">10000以上<span>(5)</span></a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->

                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">优惠商品</h2>
                        <div class="sidebar-body">
                            <div class="product-small-list">
                                <!-- Single Product Start -->
                                <div class="single-pro-item d-flex">
                                    <a href="single-product.html" class="product-thumb">
                                        <img src="assets/img/product-3.jpg" alt="Product"/>
                                    </a>
                                    <div class="pro-details">
                                        <h2>
                                            <a href="single-product.html">无线耳机</a>
                                        </h2>
                                        <span class="pro-price">￥9.9-￥39.9</span>
                                    </div>
                                </div>
                                <!-- Single Product End -->

                                <!-- Single Product Start -->
                                <div class="single-pro-item d-flex">
                                    <a href="single-product.html" class="product-thumb">
                                        <img src="assets/img/product-6.jpg" alt="Product"/>
                                    </a>
                                    <div class="pro-details">
                                        <h2>
                                            <a href="single-product.html">显示器</a>
                                        </h2>
                                        <span class="pro-price">￥199-￥2999</span>
                                    </div>
                                </div>
                                <!-- Single Product End -->

                                <!-- Single Product Start -->
                                <div class="single-pro-item d-flex">
                                    <a href="single-product.html" class="product-thumb">
                                        <img src="assets/img/product-5.jpg" alt="Product"/>
                                    </a>
                                    <div class="pro-details">
                                        <h2>
                                            <a href="single-product.html">笔记本电脑</a>
                                        </h2>
                                        <span class="pro-price">￥2999-￥7999</span>
                                    </div>
                                </div>
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->

                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">热销</h2>
                        <div class="sidebar-body">
                            <div class="sidebar-product-carousel owl-carousel">
                                <div class="sidebar-carousel-item">
                                    <div class="product-small-list">
                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-1.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">8848手机</a>
                                                </h2>
                                                <span class="pro-price">￥29999</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-2.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">小米手环4</a>
                                                </h2>
                                                <span class="pro-price">￥169</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-3.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">牧马人耳机</a>
                                                </h2>
                                                <span class="pro-price">$29.99</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-4.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">IPhone 11</a>
                                                </h2>
                                                <span class="pro-price">￥5999</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->
                                    </div>
                                </div>

                                <div class="sidebar-carousel-item">
                                    <div class="product-small-list">
                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-1.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-2.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-3.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-4.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->
                                    </div>
                                </div>

                                <div class="sidebar-carousel-item">
                                    <div class="product-small-list">
                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-1.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-2.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-3.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">Compete Hoodie</a>
                                                </h2>
                                                <span class="pro-price">$30.33</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->

                                        <!-- Single Product Start -->
                                        <div class="single-pro-item d-flex">
                                            <a href="single-product.html" class="product-thumb">
                                                <img src="assets/img/product-4.jpg" alt="Product"/>
                                            </a>
                                            <div class="pro-details">
                                                <h2>
                                                    <a href="single-product.html">MH02-Gray</a>
                                                </h2>
                                                <span class="pro-price">$20.11</span>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Sidebar Item End -->
                </div>
            </div>
            <!-- Sidebar Area End -->

            <!-- Start Shop Page Content -->
            <div class="col-lg-9 order-first order-lg-last">
                <div class="shop-page-content-wrap">
                    <div class="products-settings-option d-block d-md-flex">
                        <div class="product-cong-left d-flex align-items-center">
                            <ul class="product-view d-flex align-items-center">
                                <li class="box-gird current"><i class="fa fa-th"></i></li>
                                <li class="list"><i class="fa fa-list-ul"></i></li>
                            </ul>
                            <span class="show-items">Items 1 - 9 of 17</span>
                        </div>

                        <div class="product-sort_by d-flex align-items-center mt-3 mt-md-0">
                            <label for="sort">Sort By:</label>
                            <select name="sort" id="sort">
                                <option value="Position">Relevance</option>
                                <option value="Name Ascen">Name, A to Z</option>
                                <option value="Name Decen">Name, Z to A</option>
                                <option value="Price Ascen">Price low to heigh</option>
                                <option value="Price Decen">Price heigh to low</option>
                            </select>
                        </div>
                    </div>

                    <div class="shop-page-products-wrap">
                        <div class="products-wrapper">
                            <div class="row" id="show-products">
                                <!-- Single Product Start -->
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                    <div class="products-settings-option d-block d-md-flex">
                        <nav class="page-pagination">
                            <ul class="pagination row">
                                <li class="col-3">
                                    <button class="btn" aria-label="Previous">&laquo;</button>
                                </li>
                                <li class="col-6"><label class="text-center mx-auto"
                                           style="padding:0 5px;font-size: 1.3rem;font-weight: 600;line-height: 3.9rem;">第
                                    <input class="text-center page" style="width: 50%">页/共<span
                                                id="MaxPage"></span>页</label></li>
                                <li class="col-3">
                                    <button class="btn" aria-label="Next">&raquo;</button>
                                </li>
                            </ul>
                        </nav>

                        <div class="product-per-page d-flex align-items-center mt-3 mt-md-0">
                            <label for="show-per-page">Show Per Page</label>
                            <select name="sort" id="show-per-page">
                                <option value="9">12</option>
                                <option value="15">15</option>
                                <option value="21">18</option>
                                <option value="6">21</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Shop Page Content -->
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->
<script>
    $(document).ready(function () {

        document.title += ' - 商品搜索';
        var maxPages = 1;

        function pageLoad(maxPages) {
            if ($('.page-pagination .pagination input').val() > maxPages) {
                $('.page-pagination .pagination input').val(maxPages)
            }

            if ($('.page-pagination .pagination input').val() <= 0) {
                $('.page-pagination .pagination input').val(1)
            }

            $.ajax({
                url: './template/shop.php',
                type: 'POST',
                dataType: 'json',
                data: {
                    'pageNum': $('.page-pagination .pagination input').val(),
                    'search':'<?php echo $search; ?>'
                },
                async: false,
                success: function (data) {
                    for (x in data) {
                        if (x == 0) {
                            maxPages = data[x];
                            $('#MaxPage').text(data[x]);
                        } else {
                            $('#show-products').html(data[x]);
                        }
                    }

                }
            })

            if ($('.page-pagination .pagination input').val() <= 1) {
                $('.page-pagination .pagination button[aria-label="Previous"]').addClass('disabled')
            } else {
                $('.page-pagination .pagination button[aria-label="Previous"]').removeClass('disabled')
            }

            if ($('.page-pagination .pagination input').val() >= maxPages) {
                $('.page-pagination .pagination button[aria-label="Next"]').addClass('disabled')
            } else {
                $('.page-pagination .pagination button[aria-label="Next"]').removeClass('disabled')
            }
        }

        pageLoad();
        $('.page-pagination .pagination input').on('change',pageLoad)

        $('.page-pagination .pagination button[aria-label="Next"]').click(function () {
            if(!$(this).hasClass('disabled')) {
                page = parseInt($('.page-pagination .pagination input').val()) + 1
                $('.page-pagination .pagination input').val(page).change()
            }
        })
        $('.page-pagination .pagination button[aria-label="Previous"]').click(function () {
            if(!$(this).hasClass('disabled')) {
                page = parseInt($('.page-pagination .pagination input').val()) - 1
                $('.page-pagination .pagination input').val(page).change()
            }
        })

        $('.add-cart').on('click',function () {
            var pid = $(this).attr('pid')
            var num = $('input[pid="'+pid+'"]').val()
            $.ajax({
                url: './cart.php',
                type: 'POST',
                data: {
                    'pid': pid,
                    'num': num
                },
                async: false,
                success: function (data) {
                    if ('Error' in data) {
                        alert(data['Error'])
                    } else {
                        contain = ''
                        for (x in data) {
                            contain += data[x]
                        }
                        alert(contain)
                        location.reload()
                    }

                },
            })
        })
    })
</script>