      <!-- ChartJS -->
      <script src="assets/js/chartjs/Chart.js"></script>
      <script src="assets/js/chartjs/utils.js"></script>
      
      <script src="assets/js/lib/moment.min.js"></script>
      <script src="assets/js/lib/popper.min.js"></script>
      <script src="assets/js/bootstrap/bootstrap.min.js"></script>
      <script src="assets/js/chosen-js/chosen.jquery.js"></script>
      <script src="assets/js/fullcalendar/fullcalendar.js"></script>
      
      <script src="assets/js/daterangepicker/daterangepicker.min.js"></script>
      <script src="assets/js/custom.js"></script>


      <!--<script src="assets/js/pages/dashboard.script.js"></script>-->


          <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="assets/js/googletagmanager.js"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-56821827-7');
      </script>

  </body>

</html>