<div class="content-wrapper">

    <div class="row page-tilte align-items-center">
        <div class="col-md-auto">
            <a href="#" class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
            <h1 class="weight-300 h3 title">订单 </h1>
            <!--<p class="text-muted m-0 desc">昨日未结订单 (共87)</p>-->
        </div>
        <!--<div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">-->
            <!--<div class="controls d-flex justify-content-center justify-content-md-end">-->
                <!--<input type="search" class="form-control d-inline-block" placeholder="在表格中搜索...">-->
                <!--<span class="dropdown">-->
                    <!--<button type="button" id="downloadGrid" data-toggle="dropdown"-->
                            <!--class="btn btn-secondary py-1 px-2"><span-->
                            <!--class="material-icons align-text-bottom">save_alt</span></button>-->
                    <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="downloadGrid">-->
                      <!--<a class="dropdown-item" href="#">保存为 PDF</a>-->
                      <!--<a class="dropdown-item" href="#">保存为图像</a>-->
                      <!--<a class="dropdown-item" href="#">保存为 Word</a>-->
                      <!--<div class="dropdown-divider"></div>-->
                      <!--<a class="dropdown-item" href="#">导出 Excel</a>-->
                    <!--</div>-->
                    <!--</span>-->
                <!--<button type="button" class="btn btn-secondary py-1 px-2" data-toggle="modal"-->
                        <!--data-target="#gridFilters"><span class="material-icons align-text-bottom">filter_list</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class=" table-responsive">
        <table class="table mb-4 responsive-table table-bordered bg-white">
            <thead class="thead-light2">
            <tr>
                <th scope="col" width="1">产品图片</th>
                <th scope="col" class="resizeable">产品名称<span
                        class="material-icons align-text-bottom ml-1 md-18">sort</span></th>
                <th scope="col" class="resizeable">订单 ID <span
                        class="material-icons align-text-bottom ml-1 md-18">sort</span></th>
                <th scope="col" class="resizeable">客户 <span
                        class="material-icons align-text-bottom ml-1 md-18">sort</span></th>
                <th scope="col" class="resizeable">数量 <span
                        class="material-icons align-text-bottom ml-1 md-18">sort</span></th>
                <th scope="col" class="resizeable">日期 <span
                        class="material-icons align-text-bottom ml-1 md-18">sort</span></th>
                <th scope="col" class="resizeable">状态 <span
                        class="material-icons align-text-bottom ml-1 md-18">sort</span></th>
                <th scope="col" class="resizeable">支付方式 <span
                        class="material-icons align-text-bottom ml-1 md-18">sort</span></th>
                <th scope="col" width="1">操作</th>
            </tr>
            </thead>
            <tbody id="orderList">
            </tbody>
        </table>
    </div>


    <nav aria-label="Page navigation example">
        <form class="form-inline float-left">
            <label class="my-1 mr-2 d-none d-md-block" ><!-- for="show-data" --> 共 <span id="OrderNum"></span> 个订单</label>
            <!--<select class="form-control" id="show-data">-->
                <!--<option selected>25</option>-->
                <!--<option value="1">50</option>-->
                <!--<option value="2">100</option>-->
                <!--<option value="3">全部</option>-->
            <!--</select>-->
        </form>
        <ul class="pagination mt-3 justify-content-end">
            <div style="flex: content;line-height: 2;"> 共 <span id="maxPage"></span> 页</div>
            <li class="page-item" id="prev">
                <button class="page-link" href="#" tabindex="-1">上一页</button>
            </li>
            <!--<li class="page-item"><button class="page-link" href="#">1</button></li>-->
            <li class="page-item active"><input type="text" style="width: 120px" class="input-block-level page-link text-center bg-white" href="#" id="now" /></li>
            <!--<li class="page-item"><button class="page-link" href="#">3</button></li>-->
            <li class="page-item" id="next">
                <button class="page-link" href="#">下一页</button>
            </li>
        </ul>
    </nav>


</div>


</div>


</section>


<!--<div class="modal fade" id="switchApp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header px-4">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Select Application</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span class="material-icons ">close</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body p-4">-->

                <!--<div class="row align-items-stretch app-switcher">-->
                    <!--<div class="col mb-4">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48 " style="color:#21C3E0;">bubble_chart</span>-->
                                    <!--<p class="weight-400 m-0">Dashboard</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col mb-4">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48 text-primary">security</span>-->
                                    <!--<p class="weight-400 m-0">Ecommerce</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col mb-4">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100 active-app">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48 text-danger">blur_on</span>-->
                                    <!--<p class="weight-400 m-0">Mail Box</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                    <!--<span class="material-icons app-selected md-16">check</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col mb-4">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48 text-warning">camera</span>-->
                                    <!--<p class="weight-400 m-0">Blogger</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="w-100"></div>-->

                    <!--<div class="col">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48" style="color:#f98e69;">leak_add</span>-->
                                    <!--<p class="weight-400 m-0">Task Manager</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48 text-success">color_lens</span>-->
                                    <!--<p class="weight-400 m-0">Notes</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48 " style="color:#9b84fb">category</span>-->
                                    <!--<p class="weight-400 m-0">File Manager</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                        <!--<a href="#" class="text-dark">-->
                            <!--<div class="card h-100">-->
                                <!--<div class="card-body text-center">-->
                                    <!--<span class="material-icons md-48 text-muted">layers</span>-->
                                    <!--<p class="weight-400 m-0">Videos & Photos</p>-->
                                    <!--<small class="weight-300 text-muted">This is some text within a card body.</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="modal-footer px-4">-->
                <!--<div class="custom-control custom-checkbox mr-auto">-->
                    <!--<input type="checkbox" class="custom-control-input" id="customCheck1">-->
                    <!--<label class="custom-control-label" for="customCheck1">Default open this application</label>-->
                <!--</div>-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Switch Application</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="modal fade" id="addGrid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" style="width:420px;" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header px-4">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Add Somthing to Grid</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span class="material-icons ">close</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body p-4">-->

                <!--<form>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlInput1">Email address</label>-->
                        <!--<input type="email" class="form-control" id="exampleFormControlInput1"-->
                               <!--placeholder="name@example.com">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlSelect1">Example select</label>-->
                        <!--<select class="form-control" id="exampleFormControlSelect1">-->
                            <!--<option>1</option>-->
                            <!--<option>2</option>-->
                            <!--<option>3</option>-->
                            <!--<option>4</option>-->
                            <!--<option>5</option>-->
                        <!--</select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlTextarea1">Example textarea</label>-->
                        <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
                    <!--</div>-->
                <!--</form>-->

            <!--</div>-->
            <!--<div class="modal-footer px-4">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Add New</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div class="modal fade leftright-slide right-align" id="gridFilters" tabindex="-1" role="dialog"-->
     <!--aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-sm" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header px-4">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">筛选</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span class="material-icons ">close</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body p-4">-->

                <!--<form>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlInput1">筛选一</label>-->
                        <!--<input type="email" class="form-control" id="exampleFormControlInput1"-->
                               <!--placeholder="filter type">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlSelect1">筛选二</label>-->
                        <!--<select class="form-control" id="exampleFormControlSelect1">-->
                            <!--<option>1</option>-->
                            <!--<option>2</option>-->
                            <!--<option>3</option>-->
                            <!--<option>4</option>-->
                            <!--<option>5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlInput1">筛选二</label>-->
                        <!--<input type="email" class="form-control" id="exampleFormControlInput1"-->
                               <!--placeholder="filter type">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleFormControlSelect1">筛选三</label>-->
                        <!--<select class="form-control" id="exampleFormControlSelect1">-->
                            <!--<option>1</option>-->
                            <!--<option>2</option>-->
                            <!--<option>3</option>-->
                            <!--<option>4</option>-->
                            <!--<option>5</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</form>-->

            <!--</div>-->
            <!--<div class="modal-footer px-4">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Apply Filters</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<script>
    $(document).ready(function () {
        $(".navigation").children().children().eq(1).addClass('active')

        var x = 1

        function loadPage(x)
        {
            $.ajax({
                url:'../core/system.php',
                type:'POST',
                dataType:'json',
                data:{
                    'orderList':'',
                    'pageNum':x
                },
                async:false,
                success:function (datas) {
                    contain = ''
                    maxPage = 0
                    rows = 0
                    now = 0
                    for (data in datas) {
                        if (data == 0) {
                            maxPage = datas[data]['maxPage']
                            rows = datas[data]['rows']
                            now = datas[data]['now']
                            continue
                        }
                        contain += "            <tr>\n" +
                            "                <td class=\"align-middle\" data-label=\"产品图片\"><img src=\"../images/product/" + datas[data][0] + "/img.jpg\" width=\"100\">\n" +
                            "                </td>\n" +
                            "                <td class=\"align-middle\" data-label=\"产品名称\"><a href='../product.php?pid="+datas[data][0]+"'>" + datas[data][1] + "</td>\n" +
                            "                <td class=\"align-middle\" data-label=\"订单 ID\">" + datas[data][2] + "</td>\n" +
                            "                <td class=\"align-middle\" data-label=\"客户\"><a href=\"users.php?u=" + datas[data][3] + "\">" + datas[data][4] + "</a></td>\n" +
                            "                <td class=\"align-middle\" data-label=\"数量\">" + datas[data][5] + "</td>\n" +
                            "                <td class=\"align-middle\" data-label=\"下单时间\">" + datas[data][6] + "</td>\n" +
                            "                <td class=\"align-middle\" data-label=\"订单状态\"><span\n" +
                            "                        class=\"text-dark px-3 py-2 \">" + datas[data][7] + "</span></td>\n" +
                                                            "                <td class=\"align-middle\" data-label=\"支付方式\"><span\n" +
                            "                        class=\"text-dark px-3 py-2 \">" + datas[data][8] + "</span></td>\n" +
                            "                <td class=\"align-middle\" data-label=\"操作\" class=\"text-md-center dropdown dropleft\">\n" +
                            "                    <a href=\"#\" class=\"text-muted\" id=\"actionDropdown\" data-toggle=\"dropdown\"><span\n" +
                            "                            class=\"material-icons md-20 align-middle\">more_vert</span></a>\n" +
                            "                    <div class=\"dropdown-menu dropdown-menu-right\" aria-labelledby=\"actionDropdown\">\n" +
                            "                        <a oid='" + datas[data][2] + "' class=\"dropdown-item wait\" href=\"#\">更新状态为：待处理</a>\n" +
                            "                        <a oid='" + datas[data][2] + "' class=\"dropdown-item going\" href=\"#\">更新状态为：已发货</a>\n" +
                            "                        <a oid='" + datas[data][2] + "' class=\"dropdown-item done\" href=\"#\">更新状态为：已完成</a>\n" +
                            "                        <a oid='" + datas[data][2] + "' class=\"dropdown-item cancel\" href=\"#\">更新状态为：已取消</a>\n" +
                            "                    </div>\n" +
                            "                </td>\n" +
                            "            </tr>"
                    }

                    $('#maxPage').text(maxPage)
                    $('#OrderNum').text(rows)
                    $('#now').val(now)
                    $('#orderList').html(contain)

                    if (now <= 1) {
                        $('#prev').addClass('disabled')
                    } else {
                        $('#prev').removeClass('disabled')
                    }

                    if (now >= maxPage) {
                        $('#next').addClass('disabled')
                    } else {
                        $('#next').removeClass('disabled')
                    }

                    $('.going').on('click', function () {
                        $.ajax({
                            url: '../core/system.php',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                'updateOrder': 'going',
                                'order': $(this).attr('oid')
                            },
                            async: false,
                            success: function (data) {
                                for(x in data)
                                {
                                    if(x == 'success')
                                    {
                                        break;
                                    }
                                    alert(data[x])
                                }
                                loadPage($('#now').val())
                            }
                        })
                    })

                    $('.wait').on('click', function () {
                        $.ajax({
                            url: '../core/system.php',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                'updateOrder': 'wait',
                                'order': $(this).attr('oid')
                            },
                            async: false,
                            success: function (data) {
                                for(x in data)
                                {
                                    if(x == 'success')
                                    {
                                        break;
                                    }
                                    alert(data[x])
                                }
                                loadPage($('#now').val())
                            }
                        })
                    })

                    $('.done').on('click', function () {
                        $.ajax({
                            url: '../core/system.php',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                'updateOrder': 'done',
                                'order': $(this).attr('oid')
                            },
                            async: false,
                            success: function (data) {
                                for(x in data)
                                {
                                    if(x == 'success')
                                    {
                                        break;
                                    }
                                    alert(data[x])
                                }
                                loadPage($('#now').val())
                            }
                        })
                    })

                    $('.cancel').on('click', function () {
                        $.ajax({
                            url: '../core/system.php',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                'updateOrder': 'cancel',
                                'order': $(this).attr('oid')
                            },
                            async: false,
                            success: function (data) {
                                for(x in data)
                                {
                                    if(x == 'success')
                                    {
                                        break;
                                    }
                                    alert(data[x])
                                }
                                loadPage($('#now').val())
                            }
                        })
                    })
                }
            })

        }

        $('#now').on('change', function () {
            if ($('#now').val() <= 1) {
                $('#now').val(1)
            }
            else if ($('#now').val() >= maxPage) {
                $('#now').val(maxPage)
            }
            loadPage($('#now').val())
            return null;
        })

        $('#prev').on('click', function () {
            if (!$(this).hasClass('disabled')) {
                x = $('#Now').val();

                loadPage(parseInt(x)-1)
                return ;
            }
        })

        $('#next').on('click', function () {
            if (!$(this).hasClass('disabled')) {
                x = $('#Now').val();
                loadPage(parseInt(x)+1)
                return ;
            }
        })
        loadPage(x)
    })
</script>